In [62]:
import numpy as np
import pandas as pd

In [121]:
movies = pd.read_csv('tmdb_5000_movies.csv.zip',low_memory=False)
credits = pd.read_csv('tmdb_5000_credits.csv.zip',low_memory=False)

In [122]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [123]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [124]:
#merge the two databases
#merging based on id of the movie

In [126]:
movies.merge(credits,on='title').shape

(4809, 23)

In [127]:
movies.shape

(4803, 20)

In [128]:
credits.shape

(4803, 4)

In [129]:
movies = movies.merge(credits,on='title')

In [130]:
#DATA PREPROCESSING

In [131]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [74]:
#COLUMNS TO BE DELETED
#BUDGET - DOESN'T INFLUENCE THE CONTENT OF THE MOVIE AS SUCH HENCE CAN BE REMOVED

In [75]:
#COLUMNS WE'LL KEEP :

#GENRES
#ID
#KEYWORDS
#TITLE
#OVERVIEW
#CAST
#CREW

In [132]:
movies = movies[['genres','movie_id','overview','keywords','cast','crew','title']]

In [133]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   genres    4809 non-null   object
 1   movie_id  4809 non-null   int64
 2   overview  4806 non-null   object
 3   keywords  4809 non-null   object
 4   cast      4809 non-null   object
 5   crew      4809 non-null   object
 6   title     4809 non-null   object
dtypes: int64(1), object(6)
memory usage: 263.1+ KB

In [134]:
'''NOW WE'RE GOING TO PRE PROCESS THE DATA AND CONVERT IT INTO
A FORM WHERE IT CAN BE TRAINED.

FIRSTLY, IN THE GENRES COLUMN, WE JUST REQUIRE THE LIST OF NAMES OF THE GENRES
SO, WE'LL CONVERT IT USING A USER DEFINED FUNCTION AND ast LIBRARY
'''

import ast

In [135]:
def conversion(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [136]:
#ELIMINATING THE NULL AND DUPLICATED VALUES FROM THE DATA
movies.dropna()
movies.drop_duplicates()

,genres,movie_id,overview,keywords,cast,crew,title
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",Avatar
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",Pirates of the Caribbean: At World's End
2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,A cryptic message from Bondâ€™s past sends him o...,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",Spectre
3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,Following the death of District Attorney Harve...,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",The Dark Knight Rises
4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,"John Carter is a war-weary, former military ca...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",John Carter
...,...,...,...,...,...,...,...
4804,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",9367,El Mariachi just wants to play his guitar and ...,"[{""id"": 5616, ""name"": ""united states\u2013mexi...","[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de...",El Mariachi
4805,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",72766,A newlywed couple's honeymoon is upended by th...,[],"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de...",Newlyweds
4806,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",231617,"""Signed, Sealed, Delivered"" introduces a dedic...","[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de...","Signed, Sealed, Delivered"
4807,[],126186,When ambitious New York attorney Sam is sent t...,[],"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de...",Shanghai Calling
4808,"[{""id"": 99, ""name"": ""Documentary""}]",25975,Ever since the second grade when he first saw ...,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...","[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de...",My Date with Drew

In [137]:
movies['genres'] = movies['genres'].apply(conversion)
movies.head()

,genres,movie_id,overview,keywords,cast,crew,title
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",Avatar
1,"[Adventure, Fantasy, Action]",285,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",Pirates of the Caribbean: At World's End
2,"[Action, Adventure, Crime]",206647,A cryptic message from Bondâ€™s past sends him o...,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",Spectre
3,"[Action, Crime, Drama, Thriller]",49026,Following the death of District Attorney Harve...,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",The Dark Knight Rises
4,"[Action, Adventure, Science Fiction]",49529,"John Carter is a war-weary, former military ca...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",John Carter

In [138]:
#IN KEYWORDS FIELD, WE'D ONLY REQUIRE THE KEYWORD NAMES AND NOT THEIR IDS HENCE ELIMINATING THAT
movies['keywords'] = movies['keywords'].apply(conversion)
movies.head()

,genres,movie_id,overview,keywords,cast,crew,title
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"In the 22nd century, a paraplegic Marine is di...","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",Avatar
1,"[Adventure, Fantasy, Action]",285,"Captain Barbossa, long believed to be dead, ha...","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",Pirates of the Caribbean: At World's End
2,"[Action, Adventure, Crime]",206647,A cryptic message from Bondâ€™s past sends him o...,"[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",Spectre
3,"[Action, Crime, Drama, Thriller]",49026,Following the death of District Attorney Harve...,"[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",The Dark Knight Rises
4,"[Action, Adventure, Science Fiction]",49529,"John Carter is a war-weary, former military ca...","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",John Carter

In [139]:
#FOR CAST WE JUST REQUIRE THE TOP 3 MEMBERS OF THE CAST WHO'LL BE THE MAIN LEADS AND
#BASED ON WHOM, WE'LL RECOMMEND THE MOVIES
def cast_conversion(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter < 3:
            L.append(i['name'])
        counter+=1
    return L

In [140]:
movies['cast'] = movies['cast'].apply(cast_conversion)
movies.head()

,genres,movie_id,overview,keywords,cast,crew,title
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"In the 22nd century, a paraplegic Marine is di...","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",Avatar
1,"[Adventure, Fantasy, Action]",285,"Captain Barbossa, long believed to be dead, ha...","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",Pirates of the Caribbean: At World's End
2,"[Action, Adventure, Crime]",206647,A cryptic message from Bondâ€™s past sends him o...,"[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",Spectre
3,"[Action, Crime, Drama, Thriller]",49026,Following the death of District Attorney Harve...,"[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",The Dark Knight Rises
4,"[Action, Adventure, Science Fiction]",49529,"John Carter is a war-weary, former military ca...","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",John Carter

In [141]:
'''NOW WE'LL FETCH THE DIRECTOR OF THE MOVIE FROM THE GIVEN CAST
THAT'LL BE A GOOD INDICATOR FOR MOVIE RECOMMENDATIONS '''

"NOW WE'LL FETCH THE DIRECTOR OF THE MOVIE FROM THE GIVEN CAST\nTHAT'LL BE A GOOD INDICATOR FOR MOVIE RECOMMENDATIONS "

In [142]:
def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [143]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [144]:
movies.iloc[0].crew

['James Cameron']

In [145]:
'''FOLLOWING THIS, NOW WE'LL ELIMINATE THE SPACES BETWEEN THE WORDS IN THE FIELDS : CAST,
CREW,KEYWORDS,GENRES.
THIS IS DONE SO THAT THERE WILL BE NO CONFUSIONS IN THE RECOMMENDATION SYSTEM
THIS CAN BE EXPLAINED WITH THE FOLLOWING EXAMPLE :
THE DIRECTOR OF A MOVIE IS NAMED JOHN LASSETER, IF THE SPACE REMAINS,JOHN WILL BE TREATED AS
A DIFFERENT TAG AND LASSETER AS A DIFFERENT TAG, ANY OTHER DIRECTOR WITH THE SAME FIRST NAME
WILL THEN BE CONFUSED BY THE MODEL AND WILL ULTIMATELY LEAD TO WRONG RECOMMENDATIONS'''

"FOLLOWING THIS, NOW WE'LL ELIMINATE THE SPACES BETWEEN THE WORDS IN THE FIELDS : CAST,\nCREW,KEYWORDS,GENRES.\nTHIS IS DONE SO THAT THERE WILL BE NO CONFUSIONS IN THE RECOMMENDATION SYSTEM\nTHIS CAN BE EXPLAINED WITH THE FOLLOWING EXAMPLE :\nTHE DIRECTOR OF A MOVIE IS NAMED JOHN LASSETER, IF THE SPACE REMAINS,JOHN WILL BE TREATED AS\nA DIFFERENT TAG AND LASSETER AS A DIFFERENT TAG, ANY OTHER DIRECTOR WITH THE SAME FIRST NAME\nWILL THEN BE CONFUSED BY THE MODEL AND WILL ULTIMATELY LEAD TO WRONG RECOMMENDATIONS"

In [146]:
def space_remove(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [147]:
movies['cast'] = movies['cast'].apply(space_remove)
movies['crew'] = movies['crew'].apply(space_remove)
movies['genres'] = movies['genres'].apply(space_remove)
movies['keywords'] = movies['keywords'].apply(space_remove)

In [148]:
movies.head()

,genres,movie_id,overview,keywords,cast,crew,title
0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,"In the 22nd century, a paraplegic Marine is di...","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],Avatar
1,"[Adventure, Fantasy, Action]",285,"Captain Barbossa, long believed to be dead, ha...","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],Pirates of the Caribbean: At World's End
2,"[Action, Adventure, Crime]",206647,A cryptic message from Bondâ€™s past sends him o...,"[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LÃ©aSeydoux]",[SamMendes],Spectre
3,"[Action, Crime, Drama, Thriller]",49026,Following the death of District Attorney Harve...,"[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],The Dark Knight Rises
4,"[Action, Adventure, ScienceFiction]",49529,"John Carter is a war-weary, former military ca...","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],John Carter

In [149]:
movies.iloc[0].overview

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [150]:
'''this overview textual data needs to be converted into a list of strings'''
movies['overview'] = movies['overview'].astype(str)
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [151]:
movies.iloc[0].overview

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.']

In [152]:
#we'll now merge all these columns/fields into a nrw field called tags, that'll be used for model training
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [153]:
new_df= movies.drop(columns=['overview','genres','keywords','cast','crew'])

In [154]:
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [155]:
new_df.iloc[0].tags

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [156]:
#DATA PREPROCESSING IS COMPLETE, NOW WE HAVE TO CONVERT TEXT DATA TO VECTORS

In [157]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\mahak yadav\anaconda3\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\mahak yadav\anaconda3\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\mahak yadav\anaconda3\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\mahak yadav\anaconda3\lib\site-packages (from nltk) (2023.10.3)
Requirement already satisfied: tqdm in c:\users\mahak yadav\anaconda3\lib\site-packages (from nltk) (4.66.4)
Requirement already satisfied: colorama in c:\users\mahak yadav\anaconda3\lib\site-packages (from click->nltk) (0.4.6)

In [158]:
import nltk

In [159]:
 from nltk.stem.porter import PorterStemmer
ps= PorterStemmer()

In [160]:
#a helper function
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [161]:
new_df['stem']=new_df['tags'].apply(stem)

In [162]:
new_df.shape

(4809, 4)

In [163]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [164]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [165]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [166]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [167]:
#NOW WE'LL CALCULATE THE COSINE DISTANCE BETWEEN THE VECTORS

In [168]:
from sklearn.metrics.pairwise import cosine_similarity

In [169]:
similarity = cosine_similarity(vectors)

In [170]:
similarity

array([[1.        , 0.08964215, 0.05976143, ..., 0.02548236, 0.02672612,
        0.        ],
       [0.08964215, 1.        , 0.0625    , ..., 0.02665009, 0.        ,
        0.        ],
       [0.05976143, 0.0625    , 1.        , ..., 0.02665009, 0.        ,
        0.        ],
       ...,
       [0.02548236, 0.02665009, 0.02665009, ..., 1.        , 0.07150969,
        0.04828045],
       [0.02672612, 0.        , 0.        , ..., 0.07150969, 1.        ,
        0.05063697],
       [0.        , 0.        , 0.        , ..., 0.04828045, 0.05063697,
        1.        ]])

In [171]:
#THIS SHOWS THE SIMILARITY OF MOVIE 1 WITH ALL THE MOVIES
#FIRST MOVIE IS 0.03646019 SIMILAR TO MOVIE TWO
similarity[0]

array([1.        , 0.08964215, 0.05976143, ..., 0.02548236, 0.02672612,
       0.        ])

In [172]:
#writing the function that'll recommend 5 similar movies
def recommend(movie):
    movie_index = new_df[new_df['title']==movie].index[0] #to fetch the index of the movie 
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    #IN THE ABOVE COMMAND, WE'RE BASICALLY CONVERTING OUR SIMILARITY VECTOR TO A LIST OF TUPLES
    #WHERE EACH TUPLE HAS INDEX,DISTANCE TO THE MOVIE. AND WE SORT THEM IN DESCENDING ORDER BASED ON 
    #THE DISTANCE TO EACH MOVIE
    for i in movies_list:
        print(new_df.iloc[i[0]].title)
        #HERE WE'LL PRINT THE TILE OF THE TOP 5 MOVIES SIMILAR TO THE GIVEN MOVIE

In [173]:
import pickle

In [174]:
pickle.dump(new_df.to_dict(),open('movie_dict.pkl','wb'))

In [175]:
pickle.dump(similarity,open('similarity.pkl','wb'))